<!-- PE076DS-3 Web Application Development Project ; Group mate name list: Lin Hoi Yin (12) , WanCheukLun (02) , Chan Yim Tao (5), Cheng Tak Wai Dawie (3) -->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        
        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        
        /* Modal Content */
        .modal-content {
          position: relative;
          background-color: #fefefe;
          margin: auto;
          padding: 0;
          border: 1px solid #888;
          width: 30%;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
          -webkit-animation-name: animatetop;
          -webkit-animation-duration: 0.4s;
          animation-name: animatetop;
          animation-duration: 0.4s
        }
        
        /* Add Animation */
        @-webkit-keyframes animatetop {
          from {top:-300px; opacity:0} 
          to {top:0; opacity:1}
        }
        
        @keyframes animatetop {
          from {top:-300px; opacity:0}
          to {top:0; opacity:1}
        }
        
        /* The Close Button */
        .close {
          color: white;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
        
        .modal-header {
          padding: 2px 16px;
          background-color: rgb(91,192,222);
          color: white;
        }
        
        .modal-body {padding: 2px 16px;}
        
        .modal-footer {
          padding: 2px 16px;
          background-color: rgb(91,192,222);
          color: white;
        }
    </style>
        

    <title>Update Students</title>
</head>
<body>
    <div class="jumbotron">
    <div class="container"> 
    <h1>Update Students</h1>
    <br>
    <br>
    <br>
    <table border="0" width="100%">
        <th><td align="left">
            <button class="btn btn-info"><a style="color: white;" href="/menu">Back to Menu  </a><span class="glyphicon glyphicon-home"></span></button>
        </td>
        <td align="right">
            <form action="/updatestudent/searchstudent" method="post">
                <input type="submit" class="btn btn-primary" value="Search" style="float:right;"/>
                <input type="text" size="35%" name="keyword" class="form-control" style="width: 20%; text-align:left; float:right;" placeholder="Keywords">
            </form>
        </td>
        </th>
        <tr><td></td>
            <td align="right" colspan="2">
                <font color="red" style="float:right";><%=errmsg ? errmsg : ""%></font>
            </td>
        </tr>
    </table>
    </div>
    </div>
    <br>
<div class="container"> 
<table class="table table-bordered text-center table table-striped">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Student name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Class</th>
            <th>Photo</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% for(let x of list){ %> <!-- loop 每個array -->
            <tr>
                <td><%= x["sid"]%></td>
                <td><a href='/liststudentdetails/<%= x["_id"]%>'><%= x["sname"]%></a></td>
                <td><%= x["dob"]%></td>
                <td><%= x["gender"]%></td>
                <td><%= x["clid"]%></td>
                <td><img src="/images/<%=x.photo%>" width='100' /></td>
                <td><button class="btn btn-info" onclick="confirmUpdate('<%=x._id%>')">Update <span class="glyphicon glyphicon-refresh"></span></button>
                    <button class="btn btn-warning" id="myBtn<%=x._id%>" onclick="genModal('<%=x._id%>')">Delete <span class="glyphicon glyphicon-minus"></span></button>
                
                    <!-- The Modal -->
                    <div id="myModal<%=x._id%>" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                        <div class="modal-header">
                            <span class="close" id="close<%=x._id%>">&times;</span>
                            <h2>Confirm Delete?</h2>
                        </div>
                        <div class="modal-body">
                            <table border="0" align="center" height="16%">
                                <tr>
                                    <td style="width: 16%; text-align:center; float:center;">
                                        <button class="btn btn-warning" onclick="confirmDelModal('<%=x._id%>')">Delete <span class="glyphicon glyphicon-minus"></span></button>
                                    </td>
                                    <td style="width: 16%; text-align:center; float:center;">
                                        <button class="btn btn-warning" id="cancelBtn<%=x._id%>">Cancel <span class="glyphicon glyphicon-remove"></span></button>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        </div>
                    </div>
                
                </td>
            </tr>           
        <% } %>


        <form name ="subscribeDel" id="subscribeDel_frm" action='/updatestudent/delete' method="GET">
            <input type="hidden" name="delId" value="" ></form>
        </form>

        <form name ="subscribeUpdate" id="subscribeUpdate_frm" action='/updatestudentdetails' method="GET">
            <input type="hidden" name="delId" value="" ></form>
        </form>

        <script>
            function genModal(id) {
                // Get the modal
                let modal = document.getElementById("myModal"+id);
                
                // Get the button that opens the modal
                let btn = document.getElementById("myBtn"+id);
                
                // cancel button in the modal
                let cancelbtn = document.getElementById("cancelBtn"+id);

                // Get the <span> element that closes the modal
                let span = document.getElementById("close"+id);

                // When the user clicks the button, open the modal 
                // btn.onclick = function() {
                modal.style.display = "block";
                // }

                // When the user clicks the cancel button, close the modal 
                cancelbtn.onclick = function() {
                modal.style.display = "none";
                }
                
                // When the user clicks on <span> (x), close the modal
                span.onclick = function() {
                modal.style.display = "none";
                }
                
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
                }
            }

            function confirmDelModal(id) {
                var frm_element = document.getElementById ('subscribeDel_frm');
                frm_element.action = '/updatestudent/delete/'+id;
                frm_element.submit();              
            }

            function confirmDel(id) {
              //var txt;
              if (confirm("Confirm delete?")) {
                // find form
                var frm_element = document.getElementById ('subscribeDel_frm');
                frm_element.action = '/updatestudent/delete/'+id;
                // put the id in a hidden var
                // frm_element.querySelector("[name=delId]").value = id;
                // submit the form
                frm_element.submit();              
              } else {
                //txt = "Cancel!";
              }
              //document.getElementById("demo").innerHTML = txt;
            }

            function confirmUpdate(id) {
                var frm_element = document.getElementById ('subscribeUpdate_frm');
                frm_element.action = '/updatestudentdetails/'+id;
                frm_element.submit();              
            }
        </script>
    </tbody>
</table>
</div>
</body>